* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Asegura que el padding y border se incluyan en el ancho y alto totales */
}

.services-container {
    margin-top: 5%;
    text-align: center;

}

/* #292c36 */
.title-services {
    color: white;

    margin-bottom: 20px;
    font-weight: 700;
}


.p-title {
    color: rgba(255, 255, 255, 0.445);
    display: flex;
    justify-content: center;

    margin-bottom: 50px;


}

.row-services {
    gap: 20px;
    display: flex;
    justify-content: center;


}

.col-card {
    border-radius: 4px;
    padding: 0;
    /* Eliminar padding interno */
    text-align: center;
    /* Centrar el contenido de las tarjetas */
    flex: 1;
    max-width: 250px;

}

.card-services {
    background-color: #292c36;
    /* Fondo sólido para cada tarjeta */
    padding: 0;
    /* Espaciado interno */
    border-radius: 8px;
    /* Bordes redondeados */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* Asegura que el fondo cubra toda la tarjeta */
}

.card-services h3,
.card-services h4 {
    color: white;
    margin: 10px 0;
}

.card-services p {
    color: rgba(255, 255, 255, 0.447);
    /* Color ligeramente más claro para el texto */
}