.hero-container {
    padding: 80px 20px;
}

.col-article-left {
    padding-top: 7%;
}

.hero-imagen {
    z-index: 2;
    position: relative;
    width: 400px;
}

.imagen-background {
    position: relative;
}

.imagen-background::before {
    width: 400px;
    height: 100%;
    position: absolute;
    content: "";
    background-color: rgb(55, 55, 232);
    top: -40px;
    left: 40px;
    z-index: 1;
}

.h1-text {
    color: white;

    margin-bottom: 10%;
    font-size: 60px;
    width: 450px;


}

.span-hero {
    color: white;
    border-bottom: 8px solid white;
}

.p-text {
    color: rgba(255, 255, 255, 0.445);
    margin-top: 5%;
}

.h2-hero {
    color: white;
    padding-top: 20%;
}

.p-hero {
    color: rgba(255, 255, 255, 0.445);

}

@media (max-width: 768px) {
    .col-article-left {
        padding-top: 20px;
        margin-left: 20px;

    }

    .hero-container {
        display: flex;
        max-height: fit-content;
        justify-content: center;
        flex-direction: column;
    }

    .hero-imagen {
        width: 100%;

        max-width: 300px;



    }

    .imagen-background::before {
        width: 100%;

        max-width: 300px;
        top: -20px;

        left: 20px;
    }

    .h1-text {
        font-size: 36px;

        width: 100%;

        max-width: 100%;

        margin-bottom: 20px;

    }

    .span-hero {
        border-bottom-width: 4px;
    }

    .p-text,
    .p-hero {
        font-size: 16px;

        margin-top: 10px;

    }

    .h2-hero {
        padding-top: 10%;

        font-size: 28px;

    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .hero-imagen {
        width: 350px;
        margin-right: 40px;

    }

    .imagen-background::before {
        width: 350px;

        top: -30px;
        left: 30px;
    }

    .h1-text {
        font-size: 48px;

        width: 100%;

        margin-bottom: 40px;

    }

    .span-hero {
        border-bottom-width: 6px;

    }

    .p-text,
    .p-hero {
        font-size: 18px;

    }

    .h2-hero {
        padding-top: 15%;

        font-size: 32px;

    }
}