.bg-gym {
    background-color: #1f212c;
}

.imagen-brand {
    width: 190px;
}



.nav-text {
    display: inline-block;
    justify-content: space-between;
    margin: 0 20% 0 20%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.445);
    position: relative;
    transition: 0.3s ease, color 0.3 ease;


}

.nav-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease
}

.nav-text:hover {
    color: #fff;
}

.nav-text:hover::after {
    width: 100%;
}



@media (max-width: 992px) {
    .nav-text {
        display: block;
        margin: 10px 0;
        text-align: center;
        font-size: 1.2rem;
        transition: width 0.3 ease, color 0.3 ease;

    }

    .nav-text::after {
        content: "";
        position: absolute;
        left: 40%;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #f1f0f0;
        transition: width 0.3s ease
    }

    .nav-text:hover::after {
        width: 20%;
    }

    .navbar-collapse {
        text-align: center;
    }

    .imagen-brand {
        display: flex;
        justify-content: start;
    }

}